# Data
data/raw/
data/processed/*.png
*.zip

# Model artifacts
model/
mlruns/

# Python
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/

# Environment
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# AWS
.aws/

fraudenv/

*.msi
input.json
response.json

mlartifacts/
mlruns/
image.png